@charset "utf-8";
@import url("fonts/roboto.css") all;
th, strong, h1, h2, h3, h4, h5, h6, .row-title {
    font-weight: 500;
}

#wpbody-content {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.post-type-socialproof input[type=checkbox], .post-type-socialproof input[type=radio], .post-type-socialproof input[type=color], .post-type-socialproof input[type=date], .post-type-socialproof input[type=datetime-local], .post-type-socialproof input[type=datetime], .post-type-socialproof input[type=email], .post-type-socialproof input[type=month], .post-type-socialproof input[type=number], .post-type-socialproof input[type=password], .post-type-socialproof input[type=search], .post-type-socialproof input[type=tel], .post-type-socialproof input[type=text], .post-type-socialproof input[type=time], .post-type-socialproof input[type=url], .post-type-socialproof input[type=week], .post-type-socialproof select, .post-type-socialproof textarea {
    border-radius: 0;
}

label {
    vertical-align: text-top;
}

.wprtsp_tbl td, .wprtsp_tbl th {
    padding: 0.618em;
}

.wprtsp_tbl h4 {
    margin-bottom: 0;
}

.wprtsp_tbl select, .wprtsp_tbl input {
    padding: 0.618em;
}

.wprtsp_tbl input[type="text"], .wprtsp_tbl input[type="number"] {
    margin-top: .5em;
    margin-bottom: .5em;
}

.wprtsp_tbl input[type="number"] {
    height: auto;
}

.wprtsp_tbl select {
    box-sizing: content-box;
    padding: 0.382em 1.618em 0.382em 0.618em;
}

#poststuff .hndle {
    font-size: 1.618em;
}

.postbox .toggle-indicator:before {
    margin-top: 12px;
}

body #tbl_display .btn-gauth {
    background: white;
    color: #757575;
    background: transparent url(btn_google_light_normal_ios.svg) no-repeat 8px center;
    background: transparent url(google.svg) no-repeat 5px center;
    padding: 0.381em 1em .381em 3.236em;
    box-shadow: 0px 1px 2px hsla(0, 0%, 0%, .25);
    font-weight: bold;
    font-family: "Roboto Meduim", Roboto, Arial, Helvetica, sans-serif;
    border: 5px solid transparent;
    background-size: 32px;
}

body #tbl_display .btn-gauth:focus {
    border: 5px solid hsl(217, 89%, 61%, .30);
}

body #tbl_display .btn-gauth:active {
    border: 5px solid transparent;
    background-color: #eeeeee;
}

#post_ids_selector {
    transition: all 1s linear;
}

#social-proof-general .handlediv .toggle-indicator:before, #social-proof-conversions .handlediv .toggle-indicator:before, #social-proof-live .handlediv .toggle-indicator:before, #social-proof-hot-stats .handlediv .toggle-indicator:before, #social-proof-custom-message .handlediv .toggle-indicator:before {
    margin-top: 12px;
}

#social-proof-general .hndle {
    border-left: 10px solid hsl(195, 5%, 50%);
    border-left: 10px solid hsl(195, 5%, 80%);
}

#social-proof-conversions .hndle, #social-proof-live .hndle, #social-proof-hot-stats .hndle, #social-proof-custom-message .hndle {
    padding-left: 48px;
    background-size: 24px !important;
}

#social-proof-conversions .hndle {
    background: url('conversions.svg') 10px center no-repeat;
}

#social-proof-live .hndle {
    background: url('livestats.svg') 10px center no-repeat;
}

#social-proof-hot-stats .hndle {
    background: url('hotstats.svg') 10px center no-repeat;
}

#social-proof-custom-message .hndle {
    background: url('ctas.svg') 10px center no-repeat;
}

#conversions_audition_sound:before, #livestats_audition_sound:before, #hotstats_audition_sound:before, #ctas_audition_sound:before {
    display: inline-block;
    background: #0095ff;
    color: white;
    border-radius: 100px;
    font-size: 40px;
    margin-left: 1em;
    cursor: pointer
}

#livestats_audition_sound:before {
    background: hsl(48, 100%, 48%);
}

#hotstats_audition_sound:before {
    background: hsl(350, 60%, 50%);
}

#ctas_audition_sound:before {
    background: #60bf7f;
}

#ctas-fieldset-one th {
    text-align: left;
}

.wprtsp-help-tip {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #0095ff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    cursor: default;
    margin-right: .5em;
    transition: all .4s ease-in-out;
}

.wprtsp-help-tip ::selection {
    background-color: #fff;
}

.wprtsp-help-tip:before {
    content: '?';
    font-weight: normal;
    color: #fff;
    font-size: 12px;
}

.wprtsp-help-tip .wprtsp-help-content {
    text-align: left;
    background-color: #0095ff;
    padding: 1em 1.618em;
    width: 300px;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
    color: #fff;
    font-size: 13px;
    line-height: 1.4;
    opacity: 0;
    transition: all .4s ease-in-out;
    z-index: -1;
    left: -999px;
}

.wprtsp-help-tip:hover .wprtsp-help-content {
    opacity: 1;
    z-index: 99;
    left: 0px;
}

.postbox.closed .inside {
    animation: fade 1s linear;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#wprtsp_general_notification_order_ui {
    background: #fff;
    list-style-position: inside;
    user-select: none;
    border: 1px solid #7e8993;
    padding: .618em;
    transition: background .4s linear;
    margin: 0 0 0 0;
}

#wprtsp_general_notification_order_ui:hover {
    background: #eee;
}

#wprtsp_general_notification_order_ui li:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(drag-drop.svg) no-repeat center;
    margin-right: 0.2em;
    vertical-align: middle;
}

#wprtsp_general_notification_order_ui li {
    padding: .618em 1em;
    transition: background .4s linear;
    margin: 0 0 0 0;
}

#wprtsp_general_notification_order_ui li:hover {
    background: #fea;
    cursor: move;
}

#wprtsp_general_notification_order_ui li:active {
    background: #fc0;
}